.comment-thread-popover {
  display: none;
  background: white;
  position: absolute;
  margin-top: 4px;
  min-width: 350px;
  z-index: 1;
}

.comment-list {
  min-height: 100px;
  max-height: 50vh;
  overflow-y: auto;
}
.comment-list::-webkit-scrollbar {
  width: 5px;
}

.comment-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ffffff; 
}

.comment-list::-webkit-scrollbar-thumb {
  background-color: #6e6e6e 
}

.comment-row {
  display: flex;
  margin: 4px 16px;
}

.comment-author-name {
  display: block;
  font-weight: bold;
  margin-top: 4px;
}

.comment-text {
  max-width: 350px;
}

.comment-author-photo {
  font-size: 24px;
  margin-right: 4px;
}

.comment-creation-time {
  color: #6c757d;
  font-size: 14px;
}

.comment-input-wrapper {
  border-top: 1px solid #ced4da;
  display: flex;
  padding: 4px;
}

.comment-input {
  border: 0;
}

.comment-input:focus {
  box-shadow: none;
}

.comment-thread-popover-header {
  display: flex;
  justify-content: center;
  min-height: 31px;
  gap: 10px;
}
